{
  "extends": "@folio/eslint-config-stripes",
  "parser": "@babel/eslint-parser",
  "overrides": [
    {
      "files": [ "*.test.*" ],
      "rules": {
        "no-unused-vars": "off",
        "no-undef": "off"
      }
    }
  ],
  "env": {
    "jest": true
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
        ]
      }
    }
  }
}

